@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&family=Montserrat:wght@400;700&display=swap");
:root {
  --main-dark: #282c34;
  --orange-dark: #ff6f3c;
  --orange-light: #ff9a3c;
  --accent-color: rgb(232, 232, 232);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
html {
  font-family: "Quicksand", sans-serif;
}
body {
  background: radial-gradient(var(--main-dark), var(--main-dark));
}
.notFoundPage,
.errorPage {
  margin-top: 5rem;
  text-align: center;
}
.notFoundPage h1,
.errorPage h1 {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(90deg, var(--orange-light), var(--orange-dark));
  background-clip: text;
  color: transparent;
}
.errorPage span,
.notFoundPage span {
  color: var(--orange-dark);
}
.notFoundPage p,
.errorPage p {
  font-size: 1.33rem;
  color: var(--accent-color);
}
